<div class="blog-post">

  <!-- Title -->
  <h2 class="blog-post-title">
      <a href="<%- config.root %><%- item.path %>">
          <%- item.title || item.link%>
      </a>
  </h2>

  <!-- Date and Author -->
  <p class="blog-post-meta">
      <%= item.date.format(config.date_format) %>
      <% if(item.author) { %>
          by <%- item.author %>
      <% } %>
  </p>

  <!-- Content -->
  <%- item.content %>

  <hr />

  <!-- Tags and Categories links -->
  <%- partial('article-tags', {item: item}) %>
  <%- partial('article-categories', {item: item}) %>

</div>

<!-- Post footer -->
<div class="blog-post-footer">  
<% 
const prev = item.prev
const next = item.next

if(prev){
%> 
    <a class="prev" href="<%- config.root %><%- item.prev.path %> ">
        <p>prev</p> 
        <p><%- item.prev.title %></p>
    </a>
<%
} else {
%>
    <a href="#"></a>
<%}

if(next){ 
%>
    <a class="next" href="<%- config.root %><%- item.next.path %>">
        <p>next</p>
        <p><%- item.next.title %></p>
    </a>
<%
} else {
%>
    <a href="#"></a>
<%
}
%>
</div>